<div class="c-flights_ticket-summary-deal-main">
    <div class="c-flights_ticket-summary-deal-prices">
        <div class="c-flights_ticket-summary-deal-price c-flights_ticket-summary-deal-price--single">
            {{price}} {{currency}}
        </div>
    </div>
</div>
<div class="c-flights_ticket-summary-deal-footer">
    <div class="c-flights_ticket-summary-deal-button c-button c-push_button" theme="redirect">
        <div class="c-button-layers">
            <div class="c-button-outline"></div>
            <div class="c-button-fill"></div>
        </div>
        <div class="c-button-content">
            Book
        </div>
    </div>
</div>