<div class="c-flights_ticket-summary-segment">
  <div class="c-flights_ticket-summary-segment-carriers">
      <span *ngFor="let carrier of flightSegment.carriers">
        {{carrier}}
      </span>
  </div>
  <div class="c-flights_ticket-summary-segment-location c-flights_ticket-summary-segment-location--origin">
      <div class="c-flights_ticket-summary-segment-iata_time">
          <div class="c-flights_ticket-summary-segment-iata">
            {{flightSegment.originIata}}
          </div>
          <div class="c-flights_ticket-summary-segment-time">
            {{flightSegment.originTime | displayHours}}
          </div>
      </div>
      <div class="c-flights_ticket-summary-segment-place">
        {{flightSegment.originPlace}}
      </div>
  </div>
  <div class="c-flights_ticket-summary-segment-route">
      <div class="c-flights_ticket_route">
          <div class="c-flights_ticket_route-container">
              <div class="c-flights_ticket_route-duration">
                {{flightSegment.routeDuration | transformMinutesToHours}}
              </div>
              <div class="c-flights_ticket_route-stops">
                  <svg class="c-flights_ticket_route-stops-svg" width="100%" height="20" focusable="false">
                      <line class="c-flights_ticket_route-stops-svg-line" x1="2" y1="3" x2="100%" y2="3" stroke-width="2" transform="translate(-1)" />
                  </svg>
              </div>
          </div>
      </div>
  </div>
  <div class="c-flights_ticket-summary-segment-location c-flights_ticket-summary-segment-location--destination">
      <div class="c-flights_ticket-summary-segment-iata_time">
          <div class="c-flights_ticket-summary-segment-iata">
            {{flightSegment.destinationIata}}
          </div>
          <div class="c-flights_ticket-summary-segment-time">
            {{flightSegment.destinationTime | displayHours}}
          </div>
      </div>
      <div class="c-flights_ticket-summary-segment-place">
        {{flightSegment.destinationPlace}}
      </div>
  </div>
</div>